<template>
  <q-page class="text-center full-width text-grey-2 row justify-center items-center text-black">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 row justify-center">

      <div class="gt-sm col-6">
        <q-card class="full-height q-ma-xs shadow-12">

          <q-card-section class="full-height">

            <q-carousel
              animated
              v-model="slide"
              infinite
              autoplay
              transition-prev="slide-right"
              transition-next="slide-left"
              class="full-height"
            >
              <q-carousel-slide :name="1" img-src="https://cdn.quasar.dev/img/mountains.jpg" />
              <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />
              <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />
              <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />
            </q-carousel>

          </q-card-section>
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-6 text-black">
        <q-card class="full-height q-ma-xs shadow-12 q-pa-md">
          <div class="bg-blue-9 q-pa-sm">
            <q-img src="statics/images/sonoran_banner_white.png" contain height="40px" class="inline-block" />
          </div>

          <q-card-section v-if="page === 'Login'" class="text-center q-gutter-xs" style="min-width: 300px;">
            <div class="text-h6">Login</div>
              <q-input label="Email" v-model="account.email" stack-label filled autofocus @keydown.space.prevent/>
              <q-input label="Password" v-model="account.password" type="password" stack-label filled @keydown.space.prevent/>
          </q-card-section>
          <q-card-section v-if="page === 'Create'" class="text-center q-gutter-xs" style="min-width: 300px;">
            <div class="text-h6">Create Account</div>
              <q-input label="Email" v-model="createAccount.email" stack-label filled autofocus @keydown.space.prevent/>
              <q-input label="Username" v-model="createAccount.username"  stack-label filled autofocus @keydown.space.prevent/>
              <q-input label="Password" v-model="createAccount.password"  type="password" stack-label filled @keydown.space.prevent/>
          </q-card-section>
                <q-card-section v-if="page === 'Forgot'" class="text-center q-gutter-xs" style="min-width: 300px;">
            <div class="text-h6">Forgot Password</div>
              <q-input label="Email" stack-label filled autofocus @keydown.space.prevent/>
          </q-card-section>

          <q-separator />

          <q-card-actions vertical v-if="page === 'Login'">
            <q-btn class="q-ma-xs" rounded label="Login" icon="fas fa-sign-in-alt" color="secondary" @click="submitLoginAccount" />
            <q-btn class="q-ma-xs" rounded label="Create Account" icon="far fa-plus-square" color="orange-10" @click="page = 'Create'" />
            <q-btn class="q-ma-xs" rounded label="Forgot Password" icon="far fa-question-circle" color="negative" @click="page = 'Forgot'" />
          </q-card-actions>
          <q-card-actions vertical v-if="page === 'Create'">
            <q-btn class="q-ma-xs" rounded label="Create Account" icon="far fa-plus-square" color="orange-10" @click="submitRegisterAccount" />
            <q-btn class="q-ma-xs" rounded label="Cancel" icon="far fa-times-circle" color="grey" @click="page = 'Login'" />
          </q-card-actions>
          <q-card-actions vertical v-if="page === 'Forgot'">
            <q-btn class="q-ma-xs" rounded label="Forgot Password" icon="far fa-question-circle" color="negative" />
            <q-btn class="q-ma-xs" rounded label="Cancel" icon="far fa-times-circle" color="grey" @click="page = 'Login'" />
          </q-card-actions>
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-4 col-lg-6 row justify-center">
        <q-img class="col-6" contain height="140px" src="statics/images/download_buttons/appstore.png"/>
        <q-img class="col-6" contain height="140px" src="statics/images/download_buttons/googleplay.png"/>
      </div>
    </div>

  </q-page>
</template>

<style scoped>
</style>
<script>
import Connections from '../components/utils/connectionHandler.js';

export default {
  name: 'PageIndex',
  components: {
  },
  data() {
    return {
      // Registered Websocket Events
      registeredEvents: [],
      slide: 1,
      page: 'Login',
      account: {
        username: '',
        password: '',
      },
      createAccount: {
        email: '',
        username: '',
        password: '',
      },
    };
  },
  created() {
    Connections.startConnection(this, 'mainhub');
  },
  beforeDestroy() {
    // When we navigate away from this page, we need to un-register the websocket events.
    // We don't want to still be listening for or handling events that are specific only to this page.
    // Otherwise, if we register the same event on a new page we will process the event twice.
    for (let i = 0; i < this.registeredEvents.length; i += 1) {
      Connections.stateConnection.off(this.registeredEvents[i], null);
    }
  },
  methods: {
    registerPageEvents() {
      // Register WebSocket connection events specifically for this page
      Connections.stateConnection.on('ackCreateAccount', (message) => {
        console.log(message);
      });
      // Track that this event is registered for this page
      // This way, we can unregister the event when we navigate away
      this.registeredEvents.push('ackCreateAccount');
    },
    sendTest() {
      // Send test message to the backend
      // We pass in the messageText contained in the textbox
      Connections.stateConnection.invoke('testError', this.messageText);
    },
    submitRegisterAccount() {
      Connections.stateConnection.invoke('createAccount', this.createAccount);
      // Clear registration form
      this.createAccount = {
        email: '',
        username: '',
        password: '',
      };
    },
    submitLoginAccount() {
      Connections.stateConnection.invoke('loginAccount', this.account);
    },
  },
};
</script>
