<template>
  <q-layout view="lHh Lpr fFf">
    <q-header v-if="$route.path !== '/'" elevated>
      <q-toolbar class="text-grey-2 bkg shadow-12">

        <q-toolbar-title class="text-left transparent">
          <div class="row justify-between items-center">
            <div class="col-4">
              <q-img src="statics/images/sonoran_banner_white.png" contain height="40px" class="inline-block" />
            </div>
            <div class="gt-sm col-sm-6 col-md-4 row justify-center" style="height:40px">
              <q-input class="col-10" label-color="black" bg-color="grey-4" outlined rounded v-model="text" label="Search" counter dense>
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
            <div class="gt-sm col-3 row justify-center items-center">
              <div v-for="(nav, index) in toolbarOptions" :key="index" class="row">
                <q-item clickable @click="navigate(nav.link)" class="items-center">
                  <q-icon :name="nav.icon"/>
                  <q-tooltip>{{ nav.label }}</q-tooltip>
                </q-item>
              </div>
            </div>
            <div class="gt-sm col-1">
              <q-avatar>
                <img src="https://cdn.quasar.dev/img/avatar.png">
                <q-tooltip>My Account</q-tooltip>
              </q-avatar>
              <a class="q-pa-sm text-subtitle1">Brian1234</a>
            </div>
          </div>
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-footer v-if="$route.path !== '/'" class="bkgFooter text-grey-2 shadow-up-12 text-center">
      <q-toolbar class="lt-md q-px-lg justify-center">
        <q-list v-for="(item, index) in toolbarOptions" :key="index">
          <q-item clickable @click="navigate(item.link)">
            <q-item-section>
              <q-icon :name="item.icon" size="lg" />
            </q-item-section>
          </q-item>
        </q-list>
          <q-item clickable @click="navigate(item.link)">
            <q-item-section>
              <q-icon name="far fa-user" size="lg" />
            </q-item-section>
          </q-item>
      </q-toolbar>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus">
.bkg {
  background: rgb(4,0,79);
  background: linear-gradient(90deg, rgba(6,0,114,.90) 0%, rgba(0,64,105,.90) 100%) !important;
}
.bkgFooter {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,.98) 0%, rgba(23,23,23,.98) 50%, rgba(0,0,0,.98) 100%);
}


html {
    --scrollbarBG: #242424;
    --thumbBG: #90A4AE;
  }
  ::-webkit-scrollbar {
    width: 11px;
    display: none;
  }
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
.hideScroll::-webkit-scrollbar {
    display: none;
}
</style>

<script>
export default {
  name: 'MainLayout',
  components: {
  },
  data() {
    return {
      toolbarOptions: [
        {
          icon: 'fas fa-home',
          label: 'Home',
          forceIcon: false,
          link: 'feed',
        },
        {
          icon: 'far fa-compass',
          label: 'Discover',
          forceIcon: false,
          link: 'discover',
        },
        {
          icon: 'far fa-question-circle',
          label: 'Help',
          forceIcon: false,
          link: 'support',
        },
      ],
    };
  },
  methods: {
    navigate(link) {
      this.$router.push(link);
    },
  },
};
</script>
